.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.end {
  flex-basis: 100%;
  color: var(--orange);
  display: flex;
  padding: 50px 0;
  justify-content: center;
  height: 200px;
}

.btn {
  display: flex;
  align-self: flex-start;
  padding: 10px 100px;
  border-radius: 8px;
  outline: none;
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid transparent;
}

.btn:hover {
  background-color: var(--blue);
}

.btn:focus {
  border-color: var(--blue);
}

.btn:active {
  background-color: var(--green);
  border-color: var(--green);
}